h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
    text-align: center;
    text-decoration: underline;
}
.background {
    background-color: orange;
    line-height: 25px;
}
p {
    font-weight: 600;
    font-size: 3em;
}
body {
    font-size: 16px;

}
li{
    font-style: italic;
}